.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
renv
data/**
*.db
*.duckdb
*.wal
plots/*.png
plots/*.jpg
plots/*.pdf
plots/*.tif
.DS_Store
.vscode
# code style definition is personal 
# lintr file sets how R and VS code flags code format
.lintr
/doc/
/Meta/
